.wrapper {
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
}

.formwrapper {
    background-color: white;
    border: none;
    opacity: 80%;
    border-radius: 15px;
}

.button {
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    width: 150px;
    color: white;
    height: 30px;
    background-color: #ff4f5a;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.589);
}

.button {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.button {
    margin: 12px;
    padding: 8px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.input {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    width: 290px;
    border-bottom: 1px solid #1b2f36;
    color: black;
    transition: all .2s ease-in-out;
}

.input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #ff4f5a;
}