.sidebar {
    box-shadow: 5px 0 5px -5px #333;
    height: 90vh;
}

.button {
    border: none;
    width: 190px;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    height: 35px;
    background-color: #ce9fa2;
    font-weight: 900;
    border-radius: 5px;
}