<div class="d-flex align-items-baseline" style="height: 15vh;">
    <p class="line-1 anim-typewriter" style="color:#00e6e6; font-size:30px;">
        <i>Welcome to Pharmaceutical Page......</i></p>
</div>


<div class="row d-flex justify-content-center" style="height: 55vh;">

    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">

        <h1>
            Buy Your Medicines Now!!!!!
        </h1>
        <h2>Order Your Medicines in Online!!</h2>

        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn" (click)='checkSession() '>Order Now</button>
        </div>
    </div>

</div>